.ui-dialog-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.ui-dialog-content{
    scrollbar-width: none;
}

.ui-dialog  ::-webkit-scrollbar {
    display: none;
}
.ui-dialog.maximized{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.ui-dialog.minimized{
    position: fixed;
    bottom: 0;
    right: 0;
}

.icon {
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin: 5px;
    cursor: pointer;
    background-size: cover;
}

.ui-dialog .ui-dialog-buttonpane {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: right;
    border-width: 1px 0 0 0;
    border-top: 1px solid #f6f6f6;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    padding: 0.5em;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 .5em 0 .5em;
    cursor: pointer;
    background-color: #f6f6f6;
    padding: 0.5em 1em;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.ui-dialog .ui-dialog-buttonpane button:hover{
    background-color: #CCCCCC;
    border: 1px solid #BBBBBB;
}

.ui-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    outline: 0 none;
    padding: 0 !important;
    background-color: white;
    border: 1px solid #f6f6f6;
    scrollbar-width: none;
    z-index: 2001;
    color: #fff;
    background-color: #555;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.icon.icon-close {
    position: absolute;
    top: -5px;
    right: -5px;
    background-image: url("../images/close.png");
}

.ui-dialog .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    /*background: none;*/
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
    color: white;
    z-index: 999;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    position: absolute;
    width: 100%;
    height: calc(100% - 35px);
    top: 35px;
    padding: 0px;
}

.ui-dialog.box.react-draggable.react-resizable {
    overflow-y: auto;
}

.ui-dialog .ui-dialog-titlebar {
    position: sticky;
    top:0;
    font-size: 1em;
    padding: 0.5em;
    height: 35px;
    line-height: 5px;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid #f6f6f6;
    background-color: rgba(10, 10, 15, .6);
}

.ui-dialog.react-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog .ui-dialog-titlebar .action-items {
    float: right;
    position: relative;
}

.ui-dialog .ui-dialog-titlebar .title {
    float: left;
    margin-right: .5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.dialog-footer{
    position: absolute;
}