.beta-banner {
    position: absolute;
    z-index: 9999;
    color: red;
    top: 8px;
    left: -25px;
    font-weight: bold;
    font-size: 16px;
    background-color: yellow;
    padding: 0 75px 0 10px;
    text-align: center;
    min-width: 170px;
    box-shadow: 0 2px 4px black;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    filter: alpha(opacity=80);
    -moz-opacity: .80;
    opacity: .8;
    height:20px;
}

.beta-banner-text{
    position: absolute;
}

.logo-header img {
    cursor: pointer;
}