.left-panel {
    position: absolute !important;
    height: calc(100% - 55px);
    width: 500px;
    top: 55px;
    left: 0;
    background-color: rgb(80,80,80);
    overflow-y: auto;
    overflow-x: hidden;
}

.top-area {
    width: 100%;
    height: 60px;
}

.placeholder-button {
    height: 35px;
    width: 35px;
}

.inner-glyph {
    font-size: 18px;
}

.top-row {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    height: 55px;
}

.settings-dropdown {
    left: 0;
    width: 500px;
}

.search-box {
    width: 375px;
    height: 35px;
    padding: 0;
}

.input-box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 12px;
}

.no-show {
    width: 0;
    height: 0;
    z-index: -9999;
    display: none;
}

.no-padding {
    padding: 0;
}

.dropdown-results {
    position: absolute;
    width: 375px;
    top: 40px !important;
    left: 100px !important;
    font-size: 12px;
}

.dropdown-item {
    width: 375px !important;
    max-width: 375px !important;
    overflow-wrap: normal;
    padding-left: 10px;
}

.card {
    font-size: 14px;
    color: white;
    background-color: rgb(33,33,33);
}

.header {
    font-size: 18px;
    font-weight: bold;
}