.sbinfo-body{
    line-height: 20px;
    text-align: justify;
}

.sbinfo-title header{
    font-size: 12px !important;
}

.bioscape-title-text{
    font-weight: bold;
    font-size:  calc(14px + 0.5vw)
}

.inner-glyph {
    font-size: 18px;
}

.settings-dropdown {
    width: 100%;
}

.input-box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

.no-padding {
    padding: 0;
}

.dropdown-results {
    width: 100%;
    font-size: 12px;
}

.dropdown-item {
    overflow-wrap: normal;
    padding-left: 10px;
}

.card {
    font-size: 14px;
    color: white;
    background-color: #454545;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 4px;
}

.header {
    font-size: 18px;
    font-weight: bold;
}

.button-group {
    width: 100%;
    font-size: 14px;
    max-height: 200px;
    overflow-y: scroll;
}

.btn-group-vertical {
    width: 100%;
}

.sfr-button {
    width: 100%;
    font-size: 14px;
    text-align: left;
}

.left-panel {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.panel-header{
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.left-panel-header{
    border-bottom: 2px solid #424243;
}

.panel-title {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.panel-subtitle{
    margin-left: 1%;
    text-align: left;
}

.panel-buttons{
    text-align: center;
    font-size: small;
}

.category-text {
    color: lightblue;
    font-size: 18px;
    font-weight: bold;
}

.feature-text {
    color: white;
    font-size: 14px;
    margin-left: 5px;
}

.nbm-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
}

.nbm-flex-row-no-padding {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.nbm-flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.nbm-flex-column-big {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 8;
}

.analysis-package-container {
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
    width : 100%;
}

.share-url-input {
    display: none;
}

.chartTooltip {
    position: fixed;
    text-align: center;
    max-width: 175px;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    background: rgb(255, 255, 255);
    color: black;
    z-index: 9999;
    opacity: 0;
}

.chart-container .chartTooltip label {
    font-weight: 700;
}

.chart-container .chartTooltip p{
    margin: 5px;
}

.analysis-available{
    color: #fcf301;
    font-size: 18px;
    font-weight: 500;
}

.analysis-package-text{
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    font-size: x-large;
    padding-left: 20px;
    padding-bottom: 5px;
    font-weight: 500;
}

@media only screen and (min-width: 700px) {
    .analysis-package-container {
        height: 100%;
        overflow-y: scroll;
    }
    .analysis-area {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .bap-popup{
        position: fixed;
        z-index: 99999;
        left: 180px !important;
        top: 340px !important;
        width: 400px;
        height: 220px;
    }
    .analysis-area {
        height: 100%;
        overflow-y: scroll;
    }
}

.bap-popup{
    position: fixed;
    z-index: 99999;
    left: 539px;
    top: 320px;
    width: 400px;
    height: 220px;
}

.bap-popuptext{
    color: black;
    font-size: 21px;
    line-height: 28px;
    height: 100%;
    margin: 10px;
    position: absolute;
    width: 52%;
    margin-left: 107px;
    text-align: center;
    margin-top: 40px;
}

.bap-popup img {
    width: 350px;
    position: absolute;
}

.pdf-loading-gif{
    position: fixed;
    right: 30vw;
    z-index: 99999;
    top: 50vh;
    background-color: white;
    border-radius: 60px;

}

.panel-area {
    background-color: #555;
    color: white;
    padding-right: 2px;
    scrollbar-color: #919191 transparent;
}

::-webkit-scrollbar {
    background-color: transparent;  // optional: just make scrollbar invisible
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 10px;
}
.analysis-package-container::-webkit-scrollbar-thumb {
    border: 3px solid #555;
}
.rt-tbody::-webkit-scrollbar-thumb {
    border: 3px solid #323235;
}
