.placeholder-button {
    height: 35px;
    width: 35px;
}

.inner-glyph {
    font-size: 18px;
}

.settings-dropdown {
    width: 100%;
}

.input-box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

.no-padding {
    padding: 0;
}

.dropdown-results {
    width: 100%;
    font-size: 12px;
}

.dropdown-item {
    overflow-wrap: normal;
    padding-left: 10px;
}

.card {
    font-size: 14px;
    color: white;
    background-color: rgb(33,33,33);
    padding: 5px;
}

.header {
    font-size: 18px;
    font-weight: bold;
}

.button-group {
    width: 100%;
    font-size: 14px;
    max-height: 200px;
    overflow-y: scroll;
}

.btn-group-vertical {
    width: 100%;
}

.sfr-button {
    width: 100%;
    font-size: 14px;
}

.left-panel {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.panel-title {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.category-text {
    color: lightblue;
    font-size: 18px;
    font-weight: bold;
}

.feature-text {
    color: white;
    font-size: 14px;
}

.nbm-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
}

.nbm-flex-row-no-padding {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 0 5px 0;
    width: 100%;
}

.nbm-flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.nbm-flex-column-big {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 8;
}