.leaflet-container {
    height: 100%;
    width: 100%;
    cursor: default;
}

.global-time-slider {
    position: relative;
    top: calc(100% - 65px);
}

.attribution {
    position: absolute;
    top: calc(100% - 45px);
    left: calc(100% - 45px);
    border: 1px solid gray;
    background-color: rgba(255,255,255,.8);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 9999999;
    cursor: pointer;
}

.attribution-info{
    position: absolute;
    top: 18px;
    z-index: 9999999;
    left: 18px;
    font-size: 18px;
    color: rgb(119,119,119,.5);
}

.popup-footer-bar{
    padding: 4px;
    background-color: #666666;
    margin: 20px 0 0 0;
}

.popup-footer-bar ul {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
}

.popup-footer-bar ul li{
    display: inline-block;
    padding-left: 0px;
    padding-right: 5px;
}
.popup-footer-bar ul li a{
    color: white !important;
    margin-left: 8px;
    margin-right: 8px;
}