.radio-option {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #999;
}

.radio-option:hover {
  text-shadow: 0 0 1px;
}

$custom-radio-box-size: 1rem;
.custom-radio-box svg {
  height: $custom-radio-box-size;
  width: $custom-radio-box-size;
  vertical-align: middle;
}
