.bapTitle {
    color: lightblue;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    margin-left: 1%;
}

.bapTitle::selection {
    background: rgba(0,0,0,0); /* WebKit/Blink Browsers */
}
.bapTitle::-moz-selection {
    background: rgba(0,0,0,0); /* Gecko Browsers */
}

.bapTitle:hover {
    text-shadow: 0 0 1px;
}

.dropdown-glyph {
    font-size: 18px;
    margin-left: 5px;
}

.chartsDiv {
    background-color: rgba(10, 10, 15, .2);
    font-size: 14px;
    color: white;
}

.chart-headers{
text-align: center;
padding-top: 15px;
}
.submit-analysis-btn{
    margin: 2%;
    color: white;
    background: grey;
    border-radius: 5px;
}

.bucket-size-div{
    width: 90%;
    margin: auto;
    text-align: left;
}

.chart-footers{
    padding-bottom: 10px;
    padding-top: 10px;
}

.chart-footers .anotations{
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(10, 10, 15, .2);
    min-height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    word-break: break-word;

}

.analysis-layers {
    font-size: 12px;
}
.chart-titles{
    width: 90%;
    margin: auto;
    padding: 1%;
    text-align: center;
    color: rgb(204, 204, 204);
    fill: rgb(204, 204, 204) !important;
}

.title {
    margin-top: 10px;
    font-size: 18px;
}
 .subtitle  {
    margin-top: 10px;
    font-size: 14px;
}

.half-chart{
    width: 50%;
    display: inline-block;
}
.spp-raido-btn{
    text-align: left;
    width: 30%;
    margin: auto;
}

.spp-raido-btn input{
    margin-right: 5px;
}