.bapTitle {
    color: lightblue;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.bapTitle::selection {
    background: rgba(0,0,0,0); /* WebKit/Blink Browsers */
}
.bapTitle::-moz-selection {
    background: rgba(0,0,0,0); /* Gecko Browsers */
}

.bapTitle:hover {
    text-shadow: 0 0 1px;
}

.dropdown-glyph {
    font-size: 18px;
    margin-left: 5px;
}

.chartsDiv {
    background-color: rgba(10, 10, 15, .2);
    font-size: 14px;
    color: white;
}

.chart-headers{
text-align: center;
}
.submit-analysis-btn{
    margin: 2%;
    color: white;
    background: grey;
    border-radius: 5px;
}