.settings-btn-group{
    max-width: 50px;
}

.popup{
    position: fixed;
    z-index: 99999;
    width: 325px;
    height: 55px;
    left: 549px;
    top: 60px;
    background: white;
    border-radius: 7px;
    border: 2px solid  #555555;
    text-align: center;
}

.close-popup-btn{
    height: 17px;
    width: 17px;
    padding: 3px;
    margin: 10px;
    cursor: pointer;
}
.popuptitle{
    height: 55%;
    font-size: 16px;
    background-color: #555555;
    border: 2px solid white;
    border-radius: 5px;
}
.popuptext{
    color: black;
    font-size: 14px;
    height: 55%;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0%;
    margin-left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent #555555 transparent transparent;
  }