

.panel-area {
    background-color: #555;
    color: white;
    /* scrollbar-width: none; hides scroll bar on firefox */
}
/* ::-webkit-scrollbar { 
    display: none;  hides scroll bar on chrome
    width: 0px;  /* remove scrollbar space 
    background: transparent;  /* optional: just make scrollbar invisible 
} */
@media only screen and (max-width: 700px) {
    .vwrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 100%;
    }

    #content-area {
        background-color: green;
        display: flex;
        height: 100%;
        flex-direction: column;
        min-height: 0px;
        min-width: 0px;

    }
    .panel-area {
        width: 100% !important;
        height: 40% !important ;
    }

    #map-area {
        background-color: orange;
        height: 60%;
    }
}

@media only screen and (min-width: 700px) {
    .vwrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        height: 100%;
    }

    #content-area {
        background-color: green;
        flex: 1 1 auto;
        display: flex;
        min-height: 0px;
        min-width: 0px;
    }
    .panel-area {
        
    }

    #map-area {
        background-color: orange;
        flex: 1 1 200px;
    }
}

.relative-map {
    position: relative;
}

.tooltip{
    z-index: 999999999;
}

.glyphicon-info-sign:before{
    color: rgb(107, 153, 197);
    background-color: white;
    border-radius: 7px;
    display: block;
    width: 13px;
    height: 13px;
}
