@import './AlertBox/AlertBox.scss';

svg {
    vertical-align: baseline;
}

#map-area {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: white, $alpha: 0.6);
}

@media only screen and (max-width: 700px) {
    .vwrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 100%;
    }

    #content-area {
        background-color: green;
        display: flex;
        height: 100%;
        flex-direction: column;
        min-height: 0px;
        min-width: 0px;

    }
    .panel-area {
        width: 100% !important;
        height: 40% !important ;
    }

    #map-area {
        background-color: orange;
        height: 60%;
    }
}

@media only screen and (min-width: 700px) {
    /* style changes when the screen gets larger*/
    .vwrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        height: 100%;
    }

    #content-area {
        background-color: green;
        flex: 1 1 auto;
        display: flex;
        /* it seems that safari requires height tag */
        height: 100%;
        min-height: 0px;
        min-width: 0px;
    }

    #map-area {
        background-color: orange;
        flex: 1 1 200px;
    }
}

.tooltip{
    z-index: 999999999;
}

.glyphicon-info-sign:before{
    color: rgb(107, 153, 197);
    background-color: white;
    border-radius: 7px;
    display: block;
    width: 13px;
    height: 13px;
}

$icon-btn-size: 2.1rem;
.icon-btn {
    height: $icon-btn-size;
    width: $icon-btn-size;
    padding: 0;

    $icon-btn-svg-size: 3 / 4 * $icon-btn-size;
    svg {
        height: $icon-btn-svg-size;
        width: $icon-btn-svg-size;
        vertical-align: middle;
    }
}

.leaflet-bar button {
    padding: 0;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    text-align: center;
    text-decoration: none;
    color: #464646;

    svg {
        width: 14px;
        height: 14px;
        vertical-align: sub;
    }

    .leaflet-touch & {
        width: 30px;
        height: 30px;
    }
}

input[type=range] {
    display: block;
    width: 100%;
}
